html,
body,
ul,
li,
span,
div,
p {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;
}
p {
  background: #ccc;
  padding: 0.315rem 1.25rem;
  color: #cf5a4c;
}
.cont {
  width: 100%;
  height: 80px;
  background: #eee;
  color: #eee;
  text-align: center;
  display: table;
  padding: 10px 0 10px 0;
}
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
}
.btn-common {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #64b487;
}
.btn-light {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #cf5a4c;
}
.btn-warn {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #f9ce5f;
}
.btn-small {
  width: 4.48rem;
  height: 2.8rem;
  line-height: 2.8rem;
}
.btn-mid {
  width: 5.2rem;
  height: 3.25rem;
  line-height: 3.25rem;
}
.btn-large {
  width: 6.16rem;
  height: 3.85rem;
  line-height: 3.85rem;
}
.Radiobutton {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 0px;
}
.radio {
  border: 1px solid #000;
  height: 35px;
  line-height: 35px;
  position: relative;
}
.circle {
  position: absolute;
  top: -52%;
  left: 29.5%;
  border-radius: 3.25px;
  width: 6.5px;
  height: 6.5px;
  background: #fff;
}
