html,
body,
ul,
li,
span,
div,
p {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;
}
p {
  background: #ccc;
  padding: 0.315rem 1.25rem;
  color: #cf5a4c;
}
.cont {
  width: 100%;
  height: auto;
  background: #eee;
  color: #eee;
  text-align: center;
  display: table;
  padding: 10px 0 10px 0;
  position: relative;
}
.code-cont {
  width: inherit;
  display: table-cell;
  vertical-align: middle;
}
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
}
.btn-common {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #64b487;
}
.btn-light {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #cf5a4c;
}
.btn-warn {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #f9ce5f;
}
.btn-small {
  width: 4.48rem;
  height: 2.8rem;
  line-height: 2.8rem;
}
.btn-mid {
  width: 5.2rem;
  height: 3.25rem;
  line-height: 3.25rem;
}
.btn-large {
  width: 6.16rem;
  height: 3.85rem;
  line-height: 3.85rem;
}
.Radiobutton {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 0px;
}
.radio {
  height: 35px;
  line-height: 35px;
  position: relative;
  min-width: 100px;
}
.circle {
  position: absolute;
  top: -52%;
  left: 29.5%;
  border-radius: 3.25px;
  width: 6.5px;
  height: 6.5px;
  background: #fff;
}
.checkBox {
  height: 35px;
  line-height: 35px;
  position: relative;
  min-width: 100px;
}
.checkBtn {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  position: relative;
  top: 2px;
  background-position: center;
  background-size: 100% 100%;
}
.Btn-bg {
  background-image: url("images/cor.jpg");
}
.checkBox span {
  color: #000;
  display: inline-block;
  margin-top: 0px !important;
}
.cont span {
  margin-top: 10px;
}
.l {
  color: #000;
}
input[type='radio'],
input[type='checkbox'] {
  display: none;
}
.show {
  height: 35px;
  line-height: 35px;
  position: relative;
  min-width: 100px;
  width: 1.65rem;
  margin: 0px auto;
  background: #cf5a4c;
  border-radius: 5px;
  color: #fff;
}
#header {
  width: 100%;
  height: 158px;
  background: #64b487;
  position: absolute;
  top: 0px;
  text-align: center;
  line-height: 158px;
  font-size: 3rem;
  color: #fff;
}
#ui-body {
  position: absolute;
  top: 160px;
  right: 0px;
  width: 78%;
}
#router {
  position: relative;
  width: 22%;
  height: auto;
  background: #cf5a4c;
  left: 0px;
  top: 160px;
}
#router ul {
  top: 0px;
  width: 100%;
  height: auto;
}
#router ul li {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  list-style: none;
  color: #fff;
  margin-bottom: 5px;
}
#router ul li:hover {
  background: #a2756f;
}
