html,
body,
ul,
li,
span,
div,
p {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;
}
p {
  background: #ccc;
  padding: 0.315rem 1.25rem;
  color: #cf5a4c;
}
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
}
.btn-common {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #64b487;
}
.btn-light {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #c0392b;
}
.btn-warn {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  background: #d35400;
}
.btn-small {
  width: 4.48rem;
  height: 2.8rem;
  line-height: 2.8rem;
}
.btn-mid {
  width: 5.2rem;
  height: 3.25rem;
  line-height: 3.25rem;
}
.btn-large {
  width: 6.16rem;
  height: 3.85rem;
  line-height: 3.85rem;
}
.btn-g {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #2ecc71;
}
.btn-g-d {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #64b487;
}
.btn-r {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #e74c3c;
}
.btn-r-d {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #c0392b;
}
.btn-y {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #f1c40f;
}
.btn-y-d {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #f39c12;
}
.btn-o {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #e67e22;
}
.btn-o-d {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #d35400;
}
.btn-bg {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #1ABC9C;
}
.btn-bg-d {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #16A085;
}
.btn-p {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #9B59B6;
}
.btn-p-d {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #8E44AD;
}
.btn-b {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #3498DB;
}
.btn-b-d {
  display: inline-block;
  text-align: center;
  border-radius: 0.315rem;
  cursor: pointer;
  background: #2980B9;
}
.Radiobutton {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 0px;
  cursor: pointer;
}
.radio {
  height: 35px;
  line-height: 35px;
  position: relative;
  min-width: 100px;
}
.circle {
  position: absolute;
  top: -52%;
  left: 29.0%;
  border-radius: 3.25px;
  width: 6.5px;
  height: 6.5px;
  background: #fff;
}
.checkBox {
  height: 35px;
  line-height: 35px;
  position: relative;
  min-width: 100px;
}
.checkBtn {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  position: relative;
  top: 2px;
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;
}
.Btn-bg {
  background-image: url("images/cor.jpg");
}
.checkBox span {
  color: #000;
  display: inline-block;
  margin-top: 0px !important;
}
.cont span {
  margin-top: 10px;
}
.l {
  color: #000;
}
input[type='radio'],
input[type='checkbox'] {
  display: none;
}
.show {
  height: 35px;
  line-height: 35px;
  position: relative;
  min-width: 100px;
  width: 1.65rem;
  margin: 0px auto;
  background: #cf5a4c;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.cont {
  width: 100%;
  height: auto;
  background: #eee;
  color: #eee;
  text-align: center;
  display: table;
  padding: 10px 0 10px 0;
  position: relative;
}
.code-cont {
  width: inherit;
  display: table-cell;
  vertical-align: middle;
}
.Test {
  width: 200px;
  height: 100px;
  border: 1px solid ;
}
