@import './common.less';
.cont{
    width:100%;
    height: auto;
    background: #eee;
    color:#eee;
    text-align:center;
    display:table;
    padding:10px 0 10px 0;
    position : relative;
}

.code-cont{
    width:inherit;
    display:table-cell;
    vertical-align:middle;
}

.inner-cont{
  
}

@import './button.less';
@import './radio.less';
@import './header.less';
@import './ui-body.less';
@import './router.less';