@import './common.less';
@import './button.less';
@import './radio.less';
@import './variables.less';
.cont{
    width:100%;
    height: auto;
    background: #eee;
    color:#eee;
    text-align:center;
    display:table;
    padding:10px 0 10px 0;
    position : relative;
}

.code-cont{
    width:inherit;
    display:table-cell;
    vertical-align:middle;
}

.inner-cont{
  
}

.Test{
    width : 200px;
    height : 100px;
    border : 1px solid ;
    
 } 
// @import './header.less';
// @import './ui-body.less';
// @import './router.less';