
.Radiobutton{
   display: inline-block;
   width : 13px;
   height : 13px;
   border : 1px solid rgba(0,0,0,0.35);
   border-radius : 10px;
   background: #fff;
   position: absolute;
   top:0px;
}

.radio{
   
    height:35px;
    line-height:35px;
    position:relative;
    min-width : 100px;
}



.circle{
    position : absolute;
    top: -52%;
    left: 29.5%;
    border-radius: 3.25px;
    width: 6.5px;
    height: 6.5px;
    background:#fff;
}

.checkBox{
    .radio();
}

.checkBtn{
    width : 15px;
    height : 15px;
    border : 1px solid rgba(0, 0, 0, 0.35);
    position: relative;
    top:2px;
    background-position:center;
    background-size:100% 100%;;
}
.Btn-bg{
    background-image: url("./images/cor.jpg");
}

.checkBox span{
    color : #000;
    display: inline-block;
    margin-top:0px !important;
}

.cont span{
    margin-top:10px;
 }

.l{
    color:#000;
}

input[type='radio'],input[type='checkbox']{
    display: none
}

.show{
    .radio();
    width : 1.65rem;
    margin : 0px auto;
    background: #cf5a4c;
    border-radius : 5px;
    color : #fff;
}
